* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #AADDFF;
}

@media screen and (min-width: 1200px) {
    .movie-list__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .main{
        width: 1200px;
        margin: 0 auto;
    }
    .card{
        width: 225px;
        height: 400px;
    }
    .card__top {
        flex: 0 0 280px;
    }
    .movie__info__subtitle > p {
        font-size: 17px;
    }
    .movie__info_title {
        font-size: 24px;
    }
}
@media screen and (max-width: 1200px) {
    .movie-list__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .main{
        width: 650px;
        margin: 0 auto;
    }
    .card{
        width: 150px;
        height: 280px;
    }
    .card__top {
        flex: 0 0 200px;
    }
    .movie__info__subtitle > p {
        font-size: 10px;
    }
    .movie__info_title {
        font-size: 17px;
    }
}
@media screen and (max-width: 750px) {
    .movie-list__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main{
        width: 280px;
        margin: 0 auto;
    }
    .card{
        width: 120px;
        height: 200px;
    }
    .card__top {
        flex: 0 0 150px;
    }
    .movie__info__subtitle > p {
        font-size: 8px;
    }
    .movie__info_title {
        font-size: 10px;
    }
}

.card {

    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    background-color: white;
    margin: auto auto 25px;
}
.card.small:hover {
    box-shadow: 4px 8px 16px rgba(52, 102, 255, 0.2);
    transform: scale(1.05);
}
.card__top {
    position: relative;
    overflow: hidden;
}
.card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.movie__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.movie__info_title {
    display: block;
    font-weight: 400;
    line-height: 100%;
    color: #414141;
}
.movie__info_year{
    display: block;
}
.movie__info_category{
    display: block;
}
.movie__info__subtitle > p {
    font-weight: 400;
    line-height: 100%;
    color: #414141;
}

.movie-list {
    display: flex;
    flex-direction: column;
}
.movie-list__container {
    flex-basis: 1700px;
    position: relative;
    overflow: hidden;
    background-color: gainsboro;
    transition: flex-basis 1s ease-out;

}
.movie-list__container.hidden{
    flex-basis: 420px;
}

.movie-slider__item{
    display: flex;
    flex-direction: row;
    width: 1200px;
    overflow: hidden;
    position: relative;}
.movie-slider__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.big{
    width: 100%;
    flex-shrink: 0;
    height: 500px;
    flex-direction: row;

}
.big > .card__top{
    flex: 0 0 400px;
}


.wrapper {
    position: relative;
    width: 600px;
    background-color: #ffffff;
    padding: 20px 10px 5px 20px;
    border-radius: 10px;
}
.container {
    position: relative;
    width: 500px;
    height: 50px;
}
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;
}
.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: 0;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
    border: none;
}
input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 1px solid #3264fe;
}
.values {
    background-color: #3264fe;
    width: 20%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
}


/* формируем фон для модального окна */
.modal {
    display: none; /* скрыт по умолчанию */
    /* темный фон при открытии модалки должен быть на всю страницу */
    position: fixed;
    z-index: 1; /* поверх всех элементов */
    left: 0;
    top: 0;
    width: 100vw; /* полная ширина */
    height: 100vh; /* полная высота */
    background-color: rgba(0,0,0,0.4); /* цвет фона - прозрачный черный */
}

/* само модальное окно с контентом */
.modal-content {
    background-color: #fff;
    /* окно будет находится по центру по горизонтали и с отступом сверху в 100 px */
    margin: 100px auto;
    padding: 20px;
    width: 50%;
    font-size: 20px;
    /* разнесем текст и кнопоку по краям окна */
    display: flex;
    justify-content: space-between;
    max-height: 80vh;
    overflow-y: auto;
}

span {
    cursor: pointer;
}