* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #AADDFF;
}

@media screen and (min-width: 1200px) {
    .movie-list__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .main{
        width: 1200px;
        margin: 0 auto;
    }
    .card{
        width: 225px;
        height: 400px;
    }
    .card__top {
        flex: 0 0 280px;
    }
    .movie__info__subtitle > p {
        font-size: 17px;
    }
    .movie__info_title {
        font-size: 24px;
    }
}
@media screen and (max-width: 1200px) {
    .movie-list__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .main{
        width: 650px;
        margin: 0 auto;
    }
    .card{
        width: 150px;
        height: 280px;
    }
    .card__top {
        flex: 0 0 200px;
    }
    .movie__info__subtitle > p {
        font-size: 10px;
    }
    .movie__info_title {
        font-size: 17px;
    }
}
@media screen and (max-width: 750px) {
    .movie-list__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main{
        width: 280px;
        margin: 0 auto;
    }
    .card{
        width: 120px;
        height: 200px;
    }
    .card__top {
        flex: 0 0 150px;
    }
    .movie__info__subtitle > p {
        font-size: 8px;
    }
    .movie__info_title {
        font-size: 10px;
    }
}

.card {

    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    background-color: white;
    margin: auto auto 25px;
}
.card.small:hover {
    box-shadow: 4px 8px 16px rgba(52, 102, 255, 0.2);
    transform: scale(1.05);
}
.card__top {
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}
.card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
}

.movie__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.movie__info_title {
    display: block;
    font-weight: 400;
    line-height: 100%;
    color: #414141;
}
.movie__info_year{
    display: block;
}
.movie__info_category{
    display: block;
}
.movie__info__subtitle > p {
    font-weight: 400;
    line-height: 100%;
    color: #414141;
}

.movie-list {
    display: flex;
    flex-direction: column;
}
.movie-list__container {
    flex-basis: 1700px;
    position: relative;
    overflow: hidden;
    background-color: gainsboro;
    transition: flex-basis 1s ease-out;

}
.movie-list__container.hidden{
    flex-basis: 420px;
}

.movie-slider__item{
    display: flex;
    flex-direction: row;
    width: 1200px; /* Фиксированная ширина */
    overflow: hidden; /* Скрываем выходящие за границы изображения */
    position: relative;}
.movie-slider__list{
    display: flex; /* Располагаем слайды в ряд */
    flex-direction: column;
    width: 100%; /* Делаем ширину в три раза больше (по количеству слайдов) */
    transition: transform 0.5s ease-in-out;
}

.big{
    width: 100%; /* Каждый слайд занимает всю ширину контейнера */
    flex-shrink: 0;
    height: 500px;
    flex-direction: row;

}
.big > .card__top{
    flex: 0 0 400px;
}